@page
<h2 class="content-block">About</h2>

<p class="content-block dx-card responsive-paddings">Implementaci&oacute;n de un plan de mantenimiento integral en la flota de buses interprovinciales de la Cooperativa de Transportes Espejo de la Ciudad de El &Aacute;ngel Provincia del Carchi.</p>