@page

@using DevExtreme.AspNet.Mvc

@model BitacoraMantenimientoVehicular.Web.Pages.IndexModel
<h2 class="content-block">Proceso primario de mantenimiento preventivo</h2>
@(Html.DevExtreme().Gallery()
    .ID("gallery")
    .DataSource(Model.Images)
    .StretchImages(true)
    .Height(450)
    .Loop(true)
    .SlideshowDelay(4000)
    .ShowNavButtons(true)
    .ShowIndicator(true)
    )
