@page
@using BitacoraMantenimientoVehicular.Web.Models
@using DevExtreme.AspNet.Mvc
@model BitacoraMantenimientoVehicular.Web.Pages.Account.User.ChangePasswordModel
<div id="form-container">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @using (Html.DevExtreme().ValidationGroup())
        {
            @Html.AntiForgeryToken()
            @(Html.DevExtreme().Form<ChangePasswordViewModel>()
                .ID("form")
                .ShowValidationSummary(true)
                .Items(items =>
                {
                    items.AddGroup().Caption("Change Password").Items(groupItems =>
                    {
                        groupItems.AddSimpleFor(m => m.OldPassword)
                            .Editor(y => y.TextBox().Mode(TextBoxMode.Password).Placeholder("Enter Old Password").ShowClearButton(true))
                            .ValidationRules(r => r
                                .AddRequired()
                                .Message("Current password")
                            );
                        groupItems.AddSimpleFor(m => m.NewPassword)
                            .Editor(y => y.TextBox().Mode(TextBoxMode.Password).Placeholder("Enter New Password").ShowClearButton(true))
                            .ValidationRules(r => r
                                .AddRequired()
                                .Message("New password")

                            );
                        groupItems.AddSimpleFor(m => m.Confirm)
                            .Editor(y => y.TextBox().Mode(TextBoxMode.Password).Placeholder("Confirm New Password").ShowClearButton(true))
                            .ValidationRules(r => r
                                .AddRequired()
                                .Message("Password confirm")

                            );
                    });
                    items.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Left)
                        .ButtonOptions(b => b.Text("Login")
                            .Icon("check")
                            .Type(ButtonType.Success)
                            .StylingMode(ButtonStylingMode.Contained)
                            .Width(120)
                            .UseSubmitBehavior(true));
                }
                ))
        }
    }


</div>
